{% extends "base.html" %}
{% load quote_extras %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% block title %}
        {% endblock%}

        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author}}</small>
            <a href="/author/{{quote.author | author_url}}">(about)</a>
            </span>

            <div class="tags">
                Tags:

                {% for tag in quote.tags.all %}        
                <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}

            </div>
        </div>
        {% endfor %}

        {% block paginator %}
        {% endblock %}
    </div>
    <div class="col-md-4 tags-box">
        
            <h2>Top Ten tags</h2>
            {% for tag in tags %}
            <span class="tag-item">
            <a class="tag" style="font-size: 28px" href="/tag/{{tag}}">{{tag}}</a>
            </span>
            {% endfor %}
            
            {% if user.is_authenticated%}
            <!-- <div class="col-md-4"> -->
                <p>
                    <a href="/tags/new" class="btn btn-info">New tag</a>
                    <a href="/authors/new" class="btn btn-info">New author</a>
                    <a href="/quotes/new" class="btn btn-info">New quote</a>
                </p>
            <!-- </div> -->
            {% endif %}

        
    </div>
</div>
{% endblock %}